@import url(http://fonts.googleapis.com/css?family=Raleway|Poiret+One|Quicksand:400,700|Lobster|Schoolbell);
body {
  margin: 0;
  background: #f9f9f9; }

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px; }

@media (max-width: 400px) {
  h1 {
    font-size: 36px; } }

h2 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #444; }
  h2 a {
    color: inherit;
    text-decoration: none; }
    h2 a:hover {
      color: inherit;
      text-decoration: underline; }

a {
  cursor: pointer; }

p, li, h3, h4, h5 {
  color: #666;
  font-family: 'Raleway', serif; }

p, li {
  font-size: 18px; }

p {
  text-align: justify; }

a {
  color: #de5842; }
  a:hover {
    color: #fcd059; }

ul {
  text-align: center;
  margin-bottom: 0; }

form {
  margin-bottom: 0; }

label {
  color: #555;
  font-family: 'Raleway', serif; }

input[type=text] {
  font-family: 'Raleway', serif;
  font-size: 18px; }

.text-blue, .text-blue--hover:hover, .text-blue--active:active {
  color: #a2d7d8; }

.text-green, .text-green--hover:hover, .text-green--active:active {
  color: #bfe1bf; }

.text-yellow, .text-yellow--hover:hover, .text-yellow--active:active {
  color: #fcd059; }

.text-red, .text-red--hover:hover, .text-red--active:active {
  color: #de5842; }

.text-hover--green:hover {
  color: #bfe1bf; }

.text--center {
  text-align: center; }

.page {
  margin-top: 24px; }

.page .page__title {
  width: 100%;
  padding: 128px 0;
  text-align: center;
  color: #f9f9f9;
  margin-bottom: 24px;
  background: #a2d7d8; }

@media (max-width: 400px) {
  .page .page__title {
    padding: 72px 0; } }

@media (min-width: 550px) {
  .container {
    width: 90%; } }

.banner {
  background-image: url("/banner.jpg");
  width: 100%;
  height: 512px;
  background-size: cover;
  background-position-y: -180px;
  position: relative;
  margin-bottom: 3em; }
  .banner .banner__text-wrapper {
    position: absolute;
    top: 66%;
    width: 40%;
    text-align: center; }
    .banner .banner__text-wrapper h1, .banner .banner__text-wrapper h2 {
      color: #a2d7d8; }

.invitation .rsvp p {
  text-align: center; }

.invitation .rsvp textarea {
  width: 90%;
  max-width: 600px;
  height: 200px;
  font-family: 'Raleway', serif;
  font-size: 16px;
  color: #666; }

.invitation .rsvp .success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-radius: 4px; }

.invitation .rsvp .error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px; }

.invitation .order-of-service {
  margin-bottom: 2em;
  text-align: center; }
  .invitation .order-of-service p {
    text-align: center; }
  .invitation .order-of-service .evening {
    padding-top: 3em; }
  @media (max-width: 550px) {
    .invitation .order-of-service .evening {
      padding: 0; }
    .invitation .order-of-service .columns {
      margin-bottom: 3em; }
      .invitation .order-of-service .columns:last-child {
        margin-bottom: 0; } }

.invitation .night-before p {
  text-align: center;
  font-style: italic; }

.venue__pic {
  margin-bottom: 24px; }
  .venue__pic img {
    width: 100%; }

@media (max-width: 900px) {
  .venue__pic {
    display: none; } }

.venue__map {
  margin: 0 auto;
  width: 600px; }

.photos__downloads .columns {
  text-align: center; }

@media (max-width: 550px) {
  .photos__downloads .columns {
    padding-top: 18px; } }

.accommodation__hotel {
  text-align: center; }
  .accommodation__hotel a {
    display: inline-block; }
  .accommodation__hotel p {
    font-style: italic;
    text-align: center; }

@media (max-width: 650px) {
  .accommodation__hotels .column, .accommodation__hotels .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; } }

@media (min-width: 550px) and (max-width: 650px) {
  .accommodation__hotels .six.columns {
    margin-left: 0; } }
