@import url(http://fonts.googleapis.com/css?family=Raleway|Poiret+One|Quicksand:400,700|Lobster|Schoolbell);

$blue: #a2d7d8;
$green: #bfe1bf;
$yellow: #fcd059;
$red: #de5842;
$gray: #f9f9f9;

@mixin font-serif {
  font-family: 'Raleway', serif;
}

@mixin font-sans {
  font-family: 'Quicksand', sans-serif;
}

@mixin font-cursive {
  font-family: 'Lobster', cursive;
}

body {
  margin: 0;
  background: $gray;
}

h1 {
  @include font-cursive();
  font-size: 60px;
}

@media (max-width: 400px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  @include font-sans();
  text-align: center;
  color: #444;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

a {
  cursor: pointer;
}

p, li, h3, h4, h5 {
  color: #666;
  @include font-serif();
}

p, li {
  font-size: 18px;
}

p {
  text-align: justify;
}

a {
  color: $red;
  &:hover {
    color: $yellow;
  }
}

ul {
  text-align: center;
  margin-bottom: 0;
}

form {
  margin-bottom: 0;
}

label {
  color: #555;
  @include font-serif();
}

input[type=text] {
  @include font-serif();
  font-size: 18px;
}

.text-blue, .text-blue--hover:hover, .text-blue--active:active {
  color: $blue;
}
.text-green, .text-green--hover:hover, .text-green--active:active {
  color: $green;
}
.text-yellow, .text-yellow--hover:hover, .text-yellow--active:active {
  color: $yellow;
}
.text-red, .text-red--hover:hover, .text-red--active:active {
  color: $red;
}

.text-hover--green:hover {
  color: $green;
}

.text--center {
  text-align: center;
}

.page {
  margin-top: 24px;
}

.page .page__title {
  width: 100%;
  padding: 128px 0;
  text-align: center;
  color: $gray;
  margin-bottom: 24px;
  background: $blue;
}

@media (max-width: 400px) {
  .page .page__title {
    padding: 72px 0;
  }
}

//.page--venue .page__title {
//  background: $red;
//}
//
//.page--photos .page__title {
//  background: $blue;
//}
//
//.page--accommodation .page__title {
//  background: $green;
//}
//
//.page--gifts .page__title {
//  background: $yellow;
//}

@import "pages/MyInvitation";
@import "pages/Venue";
@import "pages/Photos";
@import "pages/Accommodation";
