@import url(http://fonts.googleapis.com/css?family=Raleway|Poiret+One|Quicksand:400,700|Lobster|Schoolbell);

$blue: #a2d7d8;
$green: #bfe1bf;
$yellow: #fcd059;
$red: #de5842;
$gray: #f9f9f9;

/*
blue a2d7d8
green bfe1bf
gray ededea
yellow fcd059
red de5842
*/

@mixin font-serif {
  font-family: 'Raleway', serif;
}

@mixin font-sans {
  font-family: 'Quicksand', sans-serif;
}

@mixin font-cursive {
  font-family: 'Lobster', cursive;
}

body {
  margin: 0;
  background: $gray;
}

h1 {
  @include font-cursive();
  font-size: 48px;
}

@media (max-width: 400px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  @include font-sans();
  text-align: center;
  color: #444;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

a {
  cursor: pointer;
}

p, li, h3, h4, h5 {
  color: #666;
  @include font-serif();
}

p, li {
  font-size: 16px;
}

p {
  text-align: justify;
}

a {
  color: $red;
  &:hover {
    color: $yellow;
  }
}

ul {
  text-align: center;
  margin-bottom: 0;
}

form {
  margin-bottom: 0;
}

label {
  color: #555;
  @include font-serif();
}

input[type=text] {
  @include font-serif();
  font-size: 18px;
}

.text-blue, .text-blue--hover:hover, .text-blue--active:active {
  color: $blue;
}
.text-green, .text-green--hover:hover, .text-green--active:active {
  color: $green;
}
.text-yellow, .text-yellow--hover:hover, .text-yellow--active:active {
  color: $yellow;
}
.text-red, .text-red--hover:hover, .text-red--active:active {
  color: $red;
}

.text-hover--green:hover {
  color: $green;
}

.text--center {
  text-align: center;
}

.nav-headroom {
  height: 87px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

nav {
  background: #f9f9f9;
  z-index: 99;
}

nav a {
  text-align: center;
  color: rgb(201, 201, 201);
  text-decoration: none;
  @include font-cursive();
  font-size: 24px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.nav--full {
  width: 100%;
}

.nav--full a {
  width: 20%;
  padding: 24px 0;
  border-bottom: 1px solid #e4e4e4;
}

.nav--groups .row, .nav--stack a {
  border-bottom: 1px solid #e4e4e4;
}

.nav--groups a {
  padding: 2px 0;
  border-right: 1px solid #e4e4e4;
  padding-right: 9%;
}

.nav__toggle a {
  cursor: pointer;
}

.nav--stack, .nav--groups {
  display: none;
}

.nav--stack .nav__items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.nav--stack--show .nav__items {
  max-height: 200px;
}

@media (max-width: 900px) {
  .nav--groups {
    display: block;
  }
  .nav--full {
    display: none;
  }
}

.headroom-wrapper {
  height: 86px !important;
}

@media (max-width: 550px) {
  .nav--groups {
    display: none;
  }
  .nav--stack {
    display: block;
  }
  .headroom-wrapper {
    height: 39px !important;
  }
}

nav a.active {
  color: rgb(136, 136, 136);
}

nav a:hover {
  color: rgb(136, 136, 136);
}

.login form {
  margin-top: 24px;
}

.intro {
  text-align: center;
  margin-top: 48px;
}

.intro__title h1 {
  @include font-cursive();
  font-size: 60px;
}

.intro__date {
  @include font-sans();
}

.invitation__greeting {
  text-align: center;
  @include font-sans();
  font-size: 42px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 24px 0;

  .date {
    display: inline-block;
    @include font-cursive();
    padding: 36px 0 24px 0;
    color: #ccc;
  }
}

input.error {
  border-color: #de5842;
  background: rgb(255, 225, 230);
  transition: all 0.1s linear;
}

input.error:focus {
  border-color: #de5842;
}


@media (max-width: 550px) {
  .invitation__greeting {
    font-size: 36px;
  }
}

@media (max-width: 400px) {
  .invitation__greeting {
    font-size: 33px;
  }
}

.page {
  margin-top: 48px;
}

.page .page__title {
  width: 100%;
  padding: 128px 0;
  text-align: center;
  color: $gray;
}

.page--photos .page__title {
  background: $blue;
}

.page--accommodation .page__title {
  background: $green;
}

.page--gifts .page__title {
  background: $yellow;
}

.page--ps .page__title {
  background: $red;
}

.dodford-layout {
  margin-bottom: 24px;
}

.dodford-layout img {
  width: 100%;
}

@media (max-width: 900px) {
  .dodford-layout {
    display: none;
  }
}

.invitation__rsvp ul {
  list-style: none;
}

.poem {
  @include font-sans();
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.poem__author {
  display: inline-block;
  font-size: 15px;
  padding: 15px 0 0 114px;
  font-family: 'Schoolbell', sans-serif;
}

.push {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: $green;
  border: 1px solid #fff;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  opacity: 0;
  @include font-sans();
  transition: opacity .25s ease-in-out;
}

.push__close a {
  color: #fff;
  font-size: 18px;
  line-height: 12px;
  vertical-align: middle;
}

.breakfast .breakfast__option {
  text-align: center;
}

.photos__downloads .columns {
  text-align: center;
}

@media (max-width: 550px) {
  .photos__downloads .columns {
    padding-top: 18px;
  }
}

.accommodation__hotel {
  text-align: center;
}
.accommodation__hotel a {
  display: inline-block;
}

.accommodation__hotel p {
  font-style: italic;
  text-align: center;
}

.accommodation__hotels__staverton a {
  background-size: 150px 135px;
  width: 150px;
  height: 135px;
}
.accommodation__hotels__premier a {
  background-size: 180px 135px;
  width: 180px;
  height: 135px;
}
.accommodation__hotels__holiday a {
  background-size: 170px 136px;
  width: 170px;
  height: 136px;
}
.accommodation__hotels__marriott a {
  background-size: 275px 136px;
  background-position-x: -69px;
  width: 133px;
  height: 136px;
}

@media (max-width: 900px) {
  .accommodation__hotels__staverton a {
    background-size: 110px 94px;
    width: 110px;
    height: 94px;
  }
  .accommodation__hotels__premier a {
    background-size: 130px 94px;
    width: 130px;
    height: 94px;
  }
  .accommodation__hotels__holiday a {
    background-size: 142px 100px;
    width: 142px;
    height: 100px;
  }
  .accommodation__hotels__marriott a {
    background-size: 236px 120px;
    background-position-y: -13px;
    width: 103px;
    height: 96px;
  }
}

@media (max-width: 650px) {
  .accommodation__hotels {
    .column, .columns {
      width: 100%;
      float: left;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 550px) and (max-width: 650px) {
  .accommodation__hotels {
    .six.columns {
      margin-left: 0;
    }
  }
}
